/* Section 6 */

.section-6 {
  width: 100%;
  height: 40vh;
  position: relative;
}

.icon-link {
  margin: 0 5rem;
}

.icon-link img {
  width: 10rem;
  opacity: .5;
  transition: opacity 1s;
  filter: blur(.25rem);
}

.icon-link img:hover {
  opacity: 1;
  filter: blur(0);
  transition: filter 1s opacity 1s;
}

.copyright {
  position: absolute;
  bottom: 5rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Noto Serif KR', serif;
  letter-spacing: .1rem;
}

/* End of Section 6 */