/* Section 5 */

.section-5 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.section-5::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(-60deg, var(--black-color) 50%, transparent 50%);
  z-index: -1;
  filter: blur(.5rem);
}

/* Section 5 Content */

.airpods {
  width: 90%;
  height: 80%;
  display: flex;
  position: relative;
  overflow: hidden;
}

/* Section 5 Heading */

.section-5-heading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15rem;
  font-weight: 300;
  color: var(--white-color);
  text-shadow: .3rem .3rem 1rem #5f5e5ecc;
}

/* End of Section 5 Heading */

/* Section 5 Images */

.airpods-img {
  width: 80%;
  height: 100%;
  background-image: url("/image/airpods/airpods-3th-1.png");
  background-size: contain;
  position: relative;
}

.airpods-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: url("/image/airpods/airpods-3th-2.png");
  background-size: contain;
  transform: translateY(-11%);
  opacity: 0;
}

.airpods-img:hover:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1s;
}

.airpods-img:hover {
  width: 80%;
  height: 100%;
}

/* .airpods-img-1::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  background-image: url("/image/airpods/airpods-3th-2.png");
  background-size: contain;

} */

.airpods-info {
  width: 100%;
  height: 100%;
  position: relative;
}

.airpods-info::before {
  content: "모든 면에서 매혹적";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  font-weight: bold;
  top: 50%;
  left: 50%;
  text-align: center;
  text-shadow: 1rem 1rem 1rem solid #999999;
  color: var(--white-color);
  transform: translate(-37.5%, -20%);
}

.airpods-info::after {
  content: "귀에 착용했는지를 감지하는 기능을 갖춰 귀와 다른 표면을 구분해내죠. 'Siri로 알림 읽어주기' 기능을 활용해 Siri가 AirPods을 통해 알림을 읽어주도록 설정할 수도 있습니다.";
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  left: 50%;
  font-size: 2.35rem;
  font-weight: 300;
  text-align: left;
  color: var(--white-color);
  transform: translate(-30%, 50%);
  line-height: 2.5;
  letter-spacing: .125rem;
}

/* End of Section 5 Images */

/* Section 5 Buttons */

.airpods-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5rem;
}

.airpods-btn {
  width: 15rem;
  height: 5rem;
  font-size: 2rem;
  background-color: var(--black-color);
  margin: 0 2rem;
  border: none;
  border-radius: .5rem;
  color: var(--white-color);
  cursor: pointer;
}

.airpods-btn:last-child {
  background-color: transparent;
  color: var(--white-color);
}

.airpods-btn:last-child:hover {
  background-color: #3b3b3bc9;
}

/* End of Section 5 Buttons */

/* End of Section 5 Content */

/* End of Section 5 */