/* Section 1 */

.section-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  clip-path: polygon(100% 0, 100% 94%, 38% 100%, 0 100%, 0 0);
  position: relative;
}

/* Logo */

.logo {
  position: absolute;
  top: 1.25rem;
  left: 2.75rem;
}

.logo i {
  font-size: 6rem;
  color: rgba(0, 0, 0, .8);
}

/* End of Logo */

/* Cube */

.cube-wrapper {
  perspective: 100rem;
}

.cube {
  width: 30rem;
  height: 55rem;
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(20deg) rotateZ(0);
  position: relative;
  top: -2rem;
}

.front-side,
.back-side {
  width: 100%;
  height: 100%;
  background-color: #fee;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 1rem;
  box-shadow: inset .1rem .1rem .1rem #ddd,
  inset -.1rem -.1rem .1rem #ddd;
}

.front-side {
  padding: 2.5rem;
  transform: translateZ(5rem);
}

.front-side::before,
.front-side::after {
  content: "";
  width: 100%;
  height: 10rem;
  background-color: #fee;
  position: absolute;
  box-shadow: inset .1rem .1rem .1rem #ddd,
  inset -.1rem -.1rem .1rem #ddd;
  border-radius: 1rem;
}

.front-side::before {
  top: 0;
  left: 0;
  transform: rotateX(-90deg);
  transform-origin: top;
}

.front-side::after {
  bottom: 0;
  left: 0;
  transform: rotateX(90deg);
  transform-origin: bottom;
}

.front-side img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.back-side {
  transform: translateZ(-5rem);
}

.back-side::before,
.back-side::after {
  content: "iPhone";
  width: 10rem;
  height: 100%;
  background-color: #fee;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  color: var(--black-color);
  box-shadow: inset .1rem .1rem .1rem #ddd,
  inset -.1rem -.1rem .1rem #ddd;
  border-radius: 1rem;
}

.back-side::before {
  top: 0;
  left: 0;
  transform: rotateY(-90deg);
  transform-origin: left;
}

.back-side::after {
  top: 0;
  right: 0;
  transform: rotateY(90deg);
  transform-origin: right;
}

.back-side i {
  font-size: 12rem;
  color: var(--black-color);
  text-shadow: .1rem .1rem .2rem #aaa,
  -.1rem -.1rem .2rem #aaa;
  transform: rotateY(180deg);
}

/* End of Cube */

/* Navbar */

.navbar {
  position: absolute;
  top: 3rem;
  right: 10%;
}

.navbar-link {
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Andada Pro', serif;
  display: inline-block;
  margin: 0 3rem;
  color: var(--black-color);
  transition: transform .5s;
  position: relative;
  overflow: hidden;
}

.navbar-link:hover {
  transform: scale(1.25);
}

.navbar-link::before {
  content: "";
  width: 100%;
  height: 10%;
  background: linear-gradient(to right, transparent, #272727, transparent);
  position: absolute;
  top: 60%;
  left: -100%;
  transform: skewX(-30deg) translateY(40%);
  transition: left 1s;
  border-radius: 50%;
}

.navbar-link:hover::before {
  left: 100%;
}

/* End of Navbar */

/* Banner */

.section-1-banner {
  flex-direction: column;
}

.section-1-banner h1 {
  font-size: 13rem;
  font-weight: 500;
  font-family: 'PT Serif', serif;
  text-transform: capitalize;
  color: #222222;
  text-shadow: .1rem .5rem .75rem #707070e7;
  letter-spacing: .5rem;
  transform: translate(-7.5%, -17%);
}

.section-1-banner p {
  font-size: 3.9rem;
  font-weight: 500;
  font-family: 'PT Serif', serif;
  letter-spacing: .2rem;
  text-align: center;
  text-shadow: .1rem .1rem .75rem #c9c9c9e7;
  margin: 6rem 0 4rem 0;
  line-height: 7rem;
  transform: translateY(-40%);
}

.section-1-banner span {
  font-size: 3.5rem;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  text-transform: capitalize;
  text-shadow: .1rem .1rem .75rem #c9c9c9e7;
  letter-spacing: .2rem;
  transform: translateY(-110%);
}

.buy-btn {
  position: relative;
  cursor: pointer;
}

.buy-btn::before {
  content: '';
  position: absolute;
  width: 8rem;
  height: 8rem;
  background-image: url('/image/footer/iphone2-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-40%, 18.5%);
  opacity: 1;
  transition: opacity 1.5s;
}

.buy-btn:hover::before {
  opacity: 0;
}

.buy-btn::after {
  content: "iPhone 구매하기";
  position: absolute;
  top: 70%;
  left: 80%;
  width: 17rem;
  font-size: 2rem;
  color: #181818;
  font-weight: bold;
  font-family: 'Noto Serif KR', serif;
  opacity: 0;
  transition: opacity 1.75s;
  transform: translate(-6.5rem, 4rem);
}

.buy-btn:hover:after {
  opacity: 1;
}

/* End of Banner */

/* Slideshow */

.slideshow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.slideshow div {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 4s;
}

.slideshow div.change {
  opacity: .857;
  background-color: rgba(0, 0, 0, 0.9);
}

/* End of Slideshow */

/* End of Section 1 */