/* Section2 */

.section-2 {
  width: 100%;
  height: 120vh;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


/* Section 2 Heading */

.section-2-heading {
  font-size: 11rem;
  font-weight: 300;
  position: relative;
  margin-bottom: 5rem;
  color: var(--white-color);
  text-shadow: .3rem .3rem 1rem #5f5e5ecc;
}

/* End of Section 2 Heading */

/* Section 2 Images */

.iphones {
  width: 50vw;
  height: 60vh;
  position: relative;
}

.iphones::before {
  content: "";
  width: 22vw;
  height: 47vh;
  background-image: linear-gradient(to bottom,rgb(238, 138, 138), rgb(241, 169, 169), rgb(247, 199, 199));
  border-radius: 50%;
  top: 15.5%;
  left: 27.75%;
  position: absolute;
  filter: blur(17rem);
}

.iphones img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  position: absolute;
  transition: opacity 3s;
}

.iphones:hover .iphone-img-1 {
  opacity: 0;
}

.iphones:hover .iphone-img-2 {
  opacity: 1;
}

/* End of Section 2 Images */

/* Section 2 Buttons */

.iphone-btns {
  display: flex;
}

.iphone-btn {
  width: 6rem;
  height: 6rem;
  background-image: linear-gradient(to top right, rgb(20, 20, 20), rgb(51, 51, 51), rgb(94, 90, 90), rgb(142, 141, 145), rgb(221, 221, 223));
  margin: 0 3rem;
  border-radius: 50%;
  position: relative;
}

.iphone-btn::after {
  content: "";
  width: 50%;
  height: 50%;
  display: block;
  border: .125rem solid #c7c7c7ec;
  border-radius: 1rem;
}

.iphone-btn span {
  position: absolute;
  top: -3rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--darkGray-color);
  width: max-content;
  transform: scale(0);
  transition: transform .5s;
}

.iphone-btn:hover span {
  transform: scale(1);
}

/* End of Section 2 Buttons */

/* End of Section2 */