/* Section 6 */

.section-6 {
  width: 100%;
  height: 40vh;
  position: relative;
}

.icon-link {
  margin: 0 5rem;
}

.icon-link img {
  width: 10rem;
  opacity: .5;
  transition: opacity 1s;
}

.icon-link img:hover {
  opacity: 1;
}

.copyright {
  position: absolute;
  bottom: 5rem;
  font-size: 1.75rem;
  letter-spacing: .1rem;
}

/* End of Section 6 */